# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual Studio Code files
.vscode
.vs

# PyCharm files
.idea

# Eclipse Project settings
*.*project
.settings

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Editor temporaries
*.swn
*.swo
*.swp
*.swm
*~

# IPython notebook checkpoints
.ipynb_checkpoints

# macOS dir files
.DS_Store

# folders
exp
data
datasets
results
raw_wav
tensorboard
tensorboard_log
trained_models
zz_logs
z_rubbish_bin
bkp_prg
a_private
mlruns
**/*build*
ly_*
log